# Imported python packages
geopy
matplotlib
numpy
scipy
shapely
spiceypy

#External modules
#pySPICElib @ git+https://github.com/ManelSoria/pySPICElib@tests/manel5

#PSOA @ git+https://github.com/PauBet/PSOA@test/pablo_oplan1

#Future (maybe) alternative. Cannot yet be used:
#pySPICElib @ git+https://github.com/ManelSoria/pySPICElib.git